.profile {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;
  background-color: var(--bg-color);
}

.description {
  width: 250px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-color: #ffffff;
}

.avatar {
  width: 100px;

  margin-bottom: 30px;

  border-radius: 50%;
  overflow: hidden;
}

.name {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
}

.tag {
  margin-bottom: 12px;

  font-weight: 500;
  color: var(--text-second-color);
}

.location {
  font-weight: 500;
  color: var(--text-second-color);
}

.stats {
  width: 250px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-left: auto;
  margin-right: auto;

  border: 1px solid var(--border-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  overflow: hidden;
  background-color: #fafafa;
}

.stats li {
  display: flex;
  flex-direction: column;

  padding: 16px;
}

.stats li:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.label {
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 500;
  color: var(--text-second-color);
}

.quantity {
  font-weight: 500;
}
